<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
		aria-controls="navbar-custom" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="container">
		<img src="assets/images/mog-crest.png" width="48" height="48" />
		<span class="navbar-brand app-topbar-title">
			<a class="nav-link" routerLink="/home" routerLinkActive="active"><span
							class="app-topbar-text">Final Fantasy XIV</span></a>
		</span>

		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active app-topbar-navitem">
						</li>
				<li class="nav-item app-topbar-navitem">
					<a class="nav-link" routerLink="/members" routerLinkActive="active"><span
							class="app-topbar-text">Members</span></a>
				</li>
				<li class="nav-item app-topbar-navitem">
					<a class="nav-link" routerLink="/events" routerLinkActive="active"><span
							class="app-topbar-text">Events</span></a>
				</li>
			</ul>
		</div>

		<div class="d-none d-lg-block">
			<span class="server-name">Primal / Behemoth &nbsp;&nbsp;</span>
			<span class="mog-brackets">&laquo;</span>
			<span class="mog-tagname"><a href='https://na.finalfantasyxiv.com/lodestone/freecompany/9234349560946610978/' style='color: #efefef' target="_blank">MOG</a></span>
			<span class="mog-brackets">&raquo;</span>
		</div>
	</div>
</nav>

<router-outlet></router-outlet>
