.app-topbar-title {
	color: #ebc46a; 
}

.app-topbar-title .nav-link {
	color: #ebc46a !important; 
}

.app-topbar-title .nav-link:hover {
	color: #f5e1b4 !important; 
}

.mog-brackets {
	color: #ebc46a; 
}

.mog-tagname {
	color: #fff;
}

.server-name {
	color: #fff;
}
