<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
		aria-controls="navbar-custom" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="container">
		<span class="navbar-brand app-topbar-title">
			<span class="mog-brackets">&laquo;</span>
			MOG
			<span class="mog-brackets">&raquo;</span>
		</span>

		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active app-topbar-navitem">
					<a class="nav-link" routerLink="/" routerLinkActive="active"><span class="app-topbar-text">Home</span></a>
				</li>
				<li class="nav-item app-topbar-navitem">
					<a class="nav-link" routerLink="/members" routerLinkActive="active"><span class="app-topbar-text">Members</span></a>
				</li>
				<li class="nav-item app-topbar-navitem">
					<a class="nav-link" routerLink="/members" routerLinkActive="active"><span class="app-topbar-text">Events</span></a>
				</li>
				<li class="nav-item app-topbar-navitem">
					<a class="nav-link" routerLink="/resources" routerLinkActive="active"><span class="app-topbar-text">Resources</span></a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!--<img src="assets/images/mog.png" class="mog-img center-block"/>-->

<div class="container-flex">
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Moments of Genius</h1>
			<p class="lead text-muted">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
		</div>
	</section>
	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<img class="card-img" src="assets/images/screenshots/1.png" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<img class="card-img" src="assets/images/screenshots/2.png" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<img class="card-img" src="assets/images/screenshots/3.png" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<img class="card-img" src="assets/images/screenshots/4.png" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<img class="card-img" src="assets/images/screenshots/5.png" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<img class="card-img" src="assets/images/screenshots/6.png" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<img class="card-img" src="assets/images/screenshots/7.png" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<img class="card-img" src="assets/images/screenshots/8.png" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<img class="card-img" src="assets/images/screenshots/9.png" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>