.jumbotron {
	background-color: transparent;
	border-bottom: 2px solid #ebc46a;
	margin-bottom: 0px;
	background-image: url("../../assets/images/sketch-t.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.jumbo-content-area {
	border-bottom: 1px solid #dae3e8;
}

.description {
	padding-top: 2em;
}

.card-text {
	font-weight: bold;
}

.estate-info {
	padding-top: 2em;
	padding-bottom: 2em;
}

.estate-name {
	font-weight: bold;
}

.estate-greeting {
	font-style: italic;
}

.recruitment-title {
	padding-top: 1em;
}

.recruitment {
	font-weight: bold;
}