<div class="container members-container">
    <h3 class="members-list-title">Member List</h3>
    <div class="container members-filter-container">
        <form>
            <div class="row">
                <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>All Ranks</option>
                        <option>Chief</option>
                        <option>Officer</option>
                        <option>Veteran</option>
                        <option>Member</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>All Jobs</option>
                        <option>Paladin</option>
                        <option>Warrior</option>
                        <option>Dark Knight</option>
                        <option>Gunbreaker</option>
                        <option>White Mage</option>
                        <option>Scholar</option>
                        <option>Astrologian</option>
                        <option>Monk</option>
                        <option>Dragoon</option>
                        <option>Ninja</option>
                        <option>Samurai</option>
                        <option>Bard</option>
                        <option>Machinist</option>
                        <option>Black Mage</option>
                        <option>Summoner</option>
                        <option>Red Mage</option>
                        <option>Blue Mage</option>
                        <option>Alchemist</option>
                        <option>Armorer</option>
                        <option>Blacksmith</option>
                        <option>Carpenter</option>
                        <option>Culinarian</option>
                        <option>Goldsmith</option>
                        <option>Leatherworker</option>
                        <option>Weaver</option>
                        <option>Botanist</option>
                        <option>Fisher</option>
                        <option>Miner</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>All Roles</option>
                        <option>Tank</option>
                        <option>Healer</option>
                        <option>DPS</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="Level">
                </div>
            </div>
        </form>
    </div>
    <div id="accordion">
        <div class="card" *ngFor="let m of freeCompany.freeCompanyMembers">
            <div class="card-header" id="heading{{ m.id }}">
                <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse' + m.id" aria-expanded="false"
                    [attr.aria-controls]="'collapse' + m.id" (click)="openMember(m)">
                    <div class="container">
                        <div class="row">
                            <div class="col"><img src='{{ m.avatar }}' width="48" height="48" />
                            </div>
                            <div class="col">
                                <h5>{{ m.name }}</h5>
                            </div>
                            <div class="col"><img src='{{ m.rankIcon }}' />
                                {{ m.rank }}</div>
                        </div>
                    </div>
                </button>
            </div>
            <div id="collapse{{ m.id }}" class="collapse hide" [attr.aria-labelledby]="'heading' + m.id" data-parent="#accordion">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col" *ngIf="selectedMember !== undefined">
                                <img src='{{ selectedMember.details.playerCharacter.portrait }}'
                                    width="300" height="409" />
                            </div>
                            <div class="col">
                                <h6>DoW / DoM</h6>
                                <div *ngIf="selectedMember !== undefined && selectedDowDom !== undefined">
                                    <table class="table">
                                        <tr>
                                            <th>Name</th>
                                            <th>Level</th>
                                        </tr>
                                            <tr *ngFor="let cj of selectedDowDom">
                                                <td>{{ cj.name }}</td>
                                                <td>{{ cj.level }}</td>
                                            </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col">
                                <h6>DoH / DoL</h6>
                                <div *ngIf="selectedMember !== undefined && selectedDohDol !== undefined">
                                    <table class="table">
                                        <tr>
                                            <th>Name</th>
                                            <th>Level</th>
                                        </tr>
                                            <tr *ngFor="let cj of selectedDohDol">
                                                <td>{{ cj.name }}</td>
                                                <td>{{ cj.level }}</td>
                                            </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>