<div class="container members-container">
    <h3 class="members-list-title">Member List</h3>
    <div class="container members-filter-container">
        <form class="filter-form">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" id="name-filter" class="form-control" placeholder="Name" (keypress)="handleFiltering('name', $event)">
                </div>
                <div class="col-md-2">
                    <select id="rank-filter" class="form-control" (change)="handleFiltering('rank', $event)">
                        <option>All Ranks</option>
                        <option>Chief</option>
                        <option>Officer</option>
                        <option>Veteran</option>
                        <option>Member</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select id="job-filter" class="form-control" (change)="handleFiltering('job', $event)">
                        <option>All Jobs</option>
                        <option *ngFor="let j of getTanks()">
                            {{ j }}
                        </option>
                        <option *ngFor="let j of getHealers()">
                            {{ j }}
                        </option>
                        <option *ngFor="let j of getDPS()">
                            {{ j }}
                        </option>
                        <option *ngFor="let j of getCrafters()">
                            {{ j }}
                        </option>
                        <option *ngFor="let j of getGatherers()">
                            {{ j }}
                        </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select id="role-filter" class="form-control" (change)="handleFiltering('role', $event)">
                        <option>All Roles</option>
                        <option *ngFor="let j of getRoles()">
                            {{ j }}
                        </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="text" id="level-filter" class="form-control" placeholder="Level" (change)="handleFiltering('level', $event)">
                </div>
            </div>
        </form>
    </div>
    <div>
        <h6 class="member-count">{{ filteredMembers.length }}/{{ freeCompany.freeCompanyMembers.length }}</h6>
    </div>
    <div id="accordion">
        <div class="card" *ngFor="let m of filteredMembers">
            <div class="card-header" id="heading{{ m.id }}">
                <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse' + m.id" aria-expanded="false"
                    [attr.aria-controls]="'collapse' + m.id" (click)="openMember(m)">
                    <div class="container">
                        <div class="row">
                            <div class="col"><img src='{{ m.avatar }}' width="48" height="48" />
                            </div>
                            <div class="col">
                                <h5>{{ m.name }}</h5>
                            </div>
                            <div class="col"><img src='{{ m.rankIcon }}' />
                                {{ m.rank }}</div>
                        </div>
                    </div>
                </button>
            </div>
            <div id="collapse{{ m.id }}" class="collapse hide" [attr.aria-labelledby]="'heading' + m.id" data-parent="#accordion">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col" *ngIf="selectedMember !== undefined">
                                <img src='{{ selectedMember.details.playerCharacter.portrait }}'
                                    width="300" height="409" /> <br />
                                <a href='https://na.finalfantasyxiv.com/lodestone/character/{{ selectedMember.id }}/' target="_blank">View on Lodestone</a>
                            </div>
                            <div class="col">
                                <h6>DoW / DoM</h6>
                                <div *ngIf="selectedMember !== undefined && selectedDowDom !== undefined">
                                    <table class="table">
                                        <tr>
                                            <th>Name</th>
                                            <th>Level</th>
                                        </tr>
                                            <tr *ngFor="let cj of selectedDowDom">
                                                <td *ngIf="isFilterableJob(cj)"><span class="filtered-job">{{ cj.name }}</span></td>
                                                <td *ngIf="isFilterableJob(cj)"><span class="filtered-job">{{ cj.level }}</span></td>
                                                <td *ngIf="!isFilterableJob(cj)">{{ cj.name }}</td>
                                                <td *ngIf="!isFilterableJob(cj)">{{ cj.level }}</td>
                                            </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col">
                                <h6>DoH / DoL</h6>
                                <div *ngIf="selectedMember !== undefined && selectedDohDol !== undefined">
                                    <table class="table">
                                        <tr>
                                            <th>Name</th>
                                            <th>Level</th>
                                        </tr>
                                            <tr *ngFor="let cj of selectedDohDol">
                                                <td *ngIf="isFilterableJob(cj)"><span class="filtered-job">{{ cj.name }}</span></td>
                                                <td *ngIf="isFilterableJob(cj)"><span class="filtered-job">{{ cj.level }}</span></td>
                                                <td *ngIf="!isFilterableJob(cj)">{{ cj.name }}</td>
                                                <td *ngIf="!isFilterableJob(cj)">{{ cj.level }}</td>
                                            </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>