.members-container {
    white-space: nowrap;
}

.members-list-title {
    padding-top: 20px;
    text-align: center;
}

.members-filter-container {
    padding: 20px;
}

.player-job-list-title {
    font-weight: bold;
    /*text-decoration: underline;*/
}